<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Ranked Choice Election</title>
</head>
<body>
<form action="{{form_target}}" method="post">
    <legend>{{blt.title}}</legend>
    {% for candidate_row in candidate_options %}
    {% set candidate_name = blt.candidate_names[loop.index0] %}
    <formset>
        <legend>Choose ranking for {{candidate_name}}:</legend>
        {% for ranking_number in candidate_row %}
            <input type="radio" id="{{ranking_number}}" name="{{candidate_name}}" value="{{ranking_number}}">
            <label for="{{ranking_number}}">#{{loop.index}}</label>
        {% endfor %}
    </formset>
    {% endfor %}
    <button type="submit">Submit Ballot</button>
</form>
</body>
</html>
